.container {
  display: grid;

  grid-template-rows: repeat(5, 2fr)
  /* Style rows and columns */
  
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
}

#title {
  grid-column: /*this should span the entire page, look into using negative numbers in grid-column-end*/;
}

.friend {

}

/* Style other types of family members below*/
